<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <div><a href="/users/{{post.author.username}}" class="lead"><small>{{post.author.username}}</small></a></div>
    <p>{{post.summary}}</p>

    <form action="/posts/{{post._id}}/comments" method="post">
      <textarea class='form-control' name="content" placeholder="Comment"></textarea>
      <div class="text-right">
        <button type="submit">Save</button>
      </div>
    </form>
    {{#each post.comments}}
      <div><a href="/users/{{this.author.username}}" class="lead"><small>{{this.author.username}}</small></a></div>
      <p>{{this.content}}</p>
      
    {{/each}}
  </div>
  
</div>